<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
 <div class="container d-flex align-items-center justify-content-between">
  <%= image_tag "logo1.png", size: "70x70", align:"left"%>
  <h6 style="color:white;">Addis Ababa Construction Permit and Control Autority</h6>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

  <nav id="navbar" class="navbar">
   <ul>
    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
    <li><a class="nav-link scrollto" href="#about">How to  Apply</a></li>
    <li><a class="nav-link scrollto" href="#services">Services</a></li>
    <li><a class="nav-link  scrollto" href="#portfolio">Gallery</a></li>
    <li><a class="nav-link scrollto" href="#team">Managment Team</a></li>
    <li class="dropdown"><a href="/"><span>Announcements</span> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <li><a href="#">News</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Vacancy</a></li>
        <li><a href="#">Tenders</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="/"><span>Resources</span> <i class="bi bi-chevron-down"></i></a>
     <ul>
      <li><a href="#">Application Forms</a></li>
      <li><a href="#">Instructions</a></li>
      <li><a href="#">Requirements</a></li>
      <li><a href="assets/1.mp4">Tutorial videos</a></li>
      <li><a href="assets/structure.pdf">Structure</a></li>
    </ul>
  </li>
  <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
  <li class="dropdown"><a href="/"><span>Language</span> <i class="bi bi-chevron-down"></i></a>
   <ul>
    <li><a href="index.html">English</a></li>
    <li><a href="index_amharic.html">Amharic</a></li>
    <li><a href="index_oromia.html">Oromic</a></li>
  </ul>
</ul>
<i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->

</div>
</header><!-- End Header -->